/* Lore Document: Snowy Dream Stylesheet */
html {
  min-height: 100vh;
  background-color: #CADEED;
  background-image: url(../media/clouds.jpg);
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-position: bottom center; /* Centers horizontally at the bottom */
  background-attachment: unset; /* Image stays fixed relative to the viewport */
  background-size: cover; /* or contain, or specific dimensions */
  animation: scrollBackground 60s linear infinite; /* Adjust time and timing function as needed */
}

body {
  /*background-color: #CADEED;*/
  color: #194569;
  font-family: Georgia;
  font-size: 16pt;
  text-align: center;
}

/* header {} */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 16px 16px white;
}

footer h2 {
  padding-bottom: 8px;
  margin: 8px;
}

footer h2 a {
  text-decoration: none;
}

footer:hover {
  box-shadow: 0px 0px 20px 20px white;
}

h1 {
  font-size: inherit;
  font-weight: normal;
  line-height: 2;
  white-space: nowrap; 
}

h2 {
  font-size: inherit;
  font-weight: normal;
  /* line-height: 1; */
  /* margin-top: 16px; */
  margin-bottom: 8px; 
  /* padding-top: 8px; */
}

p {
  font-size: inherit;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  white-space: pre-line;
}

h2 + p {
  margin-top: 0; 
}

article {
  padding: 4px;
  /*border: 4px;*/
}

/* unvisited link */
a:link {
    /*color: #3ad5ff;*/
}
  
/* visited link */
 a:visited {
    /*color: #57FED2;*/
}

pre {
  text-wrap-mode: wrap;
  /* font-size: normal; */
}

/* Typed Text */
.typed {
  overflow: hidden; /* Hides content until animation plays */
  white-space: nowrap;
  animation: typing 0.5s steps(var(--txtLen, 40), end);
}


/*Animations*/

/* Scrolling Background Image */
@keyframes scrollBackground {
  from {
    background-position: 0 0; /* Starting position */
  }
  to {
    background-position: 100vw 0; /* Ending position (moves horizontally) */
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* Fade-In Animation */
.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 100% }
}




/* Navigation */
/* Top navigation */

/* Add a background color to the top navigation */
header #topnav {
  margin-left: -8px;
  background-color: #3ad5ff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Style the links inside the navigation bar */
header #topnav a {
  color: #212121;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10pt;
  transition: padding .5s;
}

/* Add a color to the active/current link */
header #topnav > .active {
  background-color: #008282;
  color: #F9F5FF;
}
  
/* Change the color of links on hover */
header #topnav > a:hover {
  background-color: #bbf0ff;
  color: #212121;
  padding: 14px 24px;
}


/*Flexboxes*/
.flexbox {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  justify-content: space-between;
}

.flexbox article {
  border-color: #57FED2;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin: 4px;
}

/*Remove excess border from text elements*/
.flexbox article :first-child {
  margin-top: 0;
}

.flexbox article :last-child {
  margin-bottom: 0;
}